Flask
Flask-SocketIO
eventlet
gunicorn<23  # le worker eventlet a ete retire dans gunicorn>=23
matplotlib
requests
numpy
gevent
ipython
ipywidgets
Werkzeug
flask-session
flask-login
flask-sqlalchemy
scipy
tqdm